<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>maxim</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>YlmiSU3tbXYwe5m+x8vp1S6GLO7mbw5N5ySqehPRq9r64kB51yf7nqczB0w0xFW5</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.9.3">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.5">
      <emailAddress>maxim@sciencescape.org</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>